/* ----FONTS---- */

@font-face {
    font-family: 'Fredoka One';
    src: url('FredokaOne-Regular.woff2') format('woff2'),
        url('FredokaOne-Regular.woff') format('woff'),
        url('FredokaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Regular.woff2') format('woff2'),
        url('HindMadurai-Regular.woff') format('woff'),
        url('HindMadurai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Bold.woff2') format('woff2'),
        url('HindMadurai-Bold.woff') format('woff'),
        url('HindMadurai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Medium.woff2') format('woff2'),
        url('HindMadurai-Medium.woff') format('woff'),
        url('HindMadurai-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-SemiBold.woff2') format('woff2'),
        url('HindMadurai-SemiBold.woff') format('woff'),
        url('HindMadurai-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* ----GENERALS---- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 1165px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-form-holder {
    width: 677px;
    margin: 0 auto;
    padding: 0 20px;
}

/* -----HEADER-SITE----- */

.header-site {
    padding-top: 10px;
    background: #F2CEDA;
}

.header-box {
    display: flex;
    align-items: center;
}

.logo-site-link {
    display: inline-block;
    width: 79px;
    height: 79px;
}

.logo-site-link:hover {
    opacity: 0.8;
}

.logo-site-link:active {
    opacity: 0.6;
}

.navbar {
    margin-left: auto;
    margin-right: 172px;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item + .nav-item {
    margin-left: 40px;
}

.nav-link {
    font-size: 14px;
    line-height: 16px;
    color: #716162;
    text-decoration: none;
}

.activ {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #D23166;
}

.nav-link:hover {
    opacity: 0.8;
}

.nav-link:active {
    opacity: 0.6;
}

.header-button {
    padding: 14px 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background: #D23166;
}

.header-button:hover {
    opacity: 0.8;
}

.header-button:active {
    opacity: 0.6;
}

/* -----MAIN----- */

.ice-cream-section {
    padding-bottom: 40px;
    background: #F2CEDA;
}

.ice-cream-img {
    width: 1165px;
    height: 742px;
    padding-top: 196px;
    background-image: url(../images/bg-ayis-image.png);
    background-repeat: no-repeat;
    background-position: top 40px right -173px;
    background-size: 897px 742px;
}

.ice-top-desc {
    margin: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.ice-header-title {
    margin: 0;
    width: 665px;
    margin-bottom: 35px;
    font-family: Fredoka One;
    font-weight: normal;
    font-size: 57.33px;
    line-height: 120.5%;
}

.ice-header-title-color {
    color: #D64474;
}

.ice-bottom-desc {
    width: 523px;
    margin: 0;
    margin-bottom: 50px;
    font-family: Hind Madurai;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
}

.ice-button-link {
    display: inline-block;
    padding: 13px 50px 13px 50px;
    font-family: Hind Madurai;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    text-decoration: none;
    background: #D23166;
    border-radius: 5px;
}

.ice-button-link:hover {
    opacity: 0.8;
}

.ice-button-link:active {
    opacity: 0.6;
}

/* -----SERVICES-SECTIN----- */

.services-section {
    padding: 100px 0;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px;
    padding: 0;
    list-style: none;
}

.services-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 19px;
    width: 250px;
    padding: 33px 26px 27px 26px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    border: 1px solid transparent;
}

.services-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: none;
}

.services-item-img {
    margin-bottom: 24px;
}

.services-item-img-activ {
    margin-bottom: 13px;
}

.services-title {
    margin: 0;
    margin-bottom: 9px;
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.services-subtitle {
    margin: 0;
    width: 198px;
    font-family: Hind Madurai;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

/* -----BROWN-SECTION----- */

.brown-section {
    background: #F8EDF0;
}

.brown-box {
    display: flex;
    align-items: center;
}

.brown-header-box {
    width: 1165px;
    padding: 141px 0px 146px 0px;
    background-image: url("../images/brown-section-img.png");
    background-repeat: no-repeat;
    background-position: right;
}

.brown-left-box {
    width: 442px;
}

.brown-left-title {
    margin: 0;
    margin-bottom: 16px;
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
}

.brown-left-subtitle {
    margin: 0;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
}

.brown-button-link {
    display: inline-block;
    padding: 15px 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
    text-decoration: none;
    background: #D64374;
    border-radius: 5px;
}

.brown-button-link:hover {
    opacity: 0.8;
}

.brown-button-link:active {
    opacity: 0.6;
}

/* -----PRODUCT-SECTION----- */

.produt-section {
    padding-top: 137px;
    padding-bottom: 149px;
}

.product-top-box {
     margin-bottom: 50px;
}

.product-top-header-title {
    margin: 0;
    margin-bottom: 64px;
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    text-align: center;
}

/* --PRODUCT-TOP-LIST-- */

.product-top-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-item + .product-item {
    margin-left: 40px;
}

.product-link-activ {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    border-bottom: 3px solid #D64374
}

.product-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
}

.product-link:hover {
    opacity: 1;
    color: #000000;
    border-bottom: 3px solid #D64374
}

/* -----PRODUCT-BOTTOM-BOX----- */

.product-bottom-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-bottom-item:nth-child(odd) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-bottom-item:nth-child(even) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-align: right;
}

.product-bottom-item:nth-child(1) {
    margin-bottom: 30px;
}

.product-bottom-item:nth-child(2) {
    margin-bottom: 35px;
}

.product-bottom-item:nth-child(3) {
    margin-bottom: 110px;
}

.product-bottom-item:nth-child(4) {
    text-align: start;
}


.box-two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-bottom-title {
    margin: 0;
    margin-bottom: 11px;
    font-family: Hind Madurai;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
}

.product-bottom-subtitle {
    align-self: stretch;
    width: 454px;
    margin: 0;
    margin-bottom: 28px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.product-prices {
    margin: 0;
    margin-bottom: 16px;
    font-family: Hind Madurai;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

.prices-acsi {
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
}

.product-bottom-link-btn {
    display: inline-block;
    padding: 15px 55px 15px 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
    text-decoration: none;
    background: #D64374;
    border-radius: 5px;
}

.product-bottom-link-btn:hover {
    opacity: 0.8;
}

.product-bottom-link-btn:active {
    opacity: 0.6;
}

/* -----ADLE-BOX----- */

.adle-box {
    position: relative;
}

.adle-box-text {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}

.adle-box-text::before {
    display: inline-block;
    content: '';
    width: 59px;
    height: 58px;
    margin-right: 21px;
    background-image: url("../images/adele.img.png");
}

.adle-box-title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.adle-box-subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
}

.adle-blokbox {
    display: flex;
}

.adele-blockquote {
    margin: 0;
    position: relative;
    margin-left: 17px;
    margin-bottom: 40px;
    width: 322px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.adele-blockquote::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 11px;
    height: 10px;
    left: -20px;
    top: 3px;
    background-image: url("../images/block-net-img-left-min.svg");
}

.adele-blockquote::after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 11px;
    height: 10px;
    right: 43px;
    bottom: 3px;
    background-image: url("../images/block-net-img.right-min.svg");
}

.adele-grupp-img {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 236px;
}

.vector {
    cursor: pointer;
}

.vector:hover {
    opacity: 0.8;
}

.vector:active {
    opacity: 0.6;
}

.adele-img-center {
    border-radius: 50%;
    border: 1px solid #D64374;
}

/* -----SIMPLE-SECTION----- */

.simple-section {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #F8EDF0;
}

.simple-section-box {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.simple-phone-img {
    position: absolute;
    top: -30px;
}


.simpl-right {
    margin-right: 65px;
}

.simpl-header-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
}

.simpl-header-subtitle {
    margin: 0;
    margin-bottom: 29px;
    width: 607px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
}

.simpl-list {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
}

.simpl-item {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    font-size: 22px;
    line-height: 26px;
}

.simpl-item::before {
    content: '';
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 3px;
    background-image: url("../images/icon1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
}

.simpl1-item::before {
    content: '';
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 3px;
    background-image: url("../images/icon2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.simpl2-item::before {
    content: '';
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 3px;
    background-image: url("../images/icon3.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.simpl-bottom-img-box {
    display: flex;
    align-items: center;
}

.simpl-play:hover {
    opacity: 0.8;
}

.simpl-play:active {
    opacity: 0.6;
}

/* ----FORM-HOLDER-SECTION----- */

.form-holder {
    padding-top: 150px;
    margin-bottom: 71px;
}

.form-holder-title {
    margin: 0;
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}

.wrap-form-in {
    display: flex;
    margin-bottom: 37px;
}

.wrap-form-input {
    width: 100%;
    padding: 29px 25px 29px 25px;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    outline: none;
    background: #FFFFFF;
}

.wrap-form-input::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
}

.wrap-form-input:focus {
    border: 1px solid #e76f6f;
}

.form-select {
    margin-left: 30px;
    font-size: 14px;
    line-height: 16px;
    color: #807878;
    appearance: none;
    background-image: url("../images/Polygon.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
}

.wrap-form-in-bottom {
    display: flex;
    position: relative;
}

.wrap-form-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 28px 31px 28px 46px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background: #D64374;
    border-radius: 5px;
}

.wrap-form-btn:hover {
    opacity: 0.8;
}

.wrap-form-btn:active {
    opacity: 0.6;
}

/* -----FOOTER-SITE----- */

.footer-site {
    padding-top: 70px;
    padding-bottom: 104px;
    background: #0A0808;
}

.footer-site-list {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-logo-link {
    margin-bottom: 9px;
}

.footer-item:nth-child(2) {
    margin-left: 37px;
}

.footer-item:nth-child(3) {
    margin-left: 132px;
}

.footer-item:nth-child(4) {
    margin-left: 151px;
}

.footer-item-box-activ {
    display: flex;
    flex-direction: column;
}

.footer-item-link {
    margin: 0;
    margin-bottom: 25px;
    width: 207px;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.7;
}

.footer-item-link:hover {
    opacity: 0.8;
}

.footer-item-link:active {
    opacity: 0.6;
}

.footer-item-widget {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.footer-socials-link {
    color: transparent;
}

.footer-socials-link + .footer-socials-link{
    margin-left: 10px;
    border: none;
}

.footer-socials-link:hover {
    opacity: 0.8;
}

.footer-socials-link:active {
    opacity: 0.6;
}

.items-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.items-list-activ {
    margin-top: 7px;
}

.footer-items {
    margin-bottom: 10px;
}

.footer-items-active {
    position: relative;
    top: 7px;
}

.footer-items-link {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}

.link-activ {
    opacity: 1;
    color: #fff;
}

.footer-items-link:hover {
    opacity: 0.8;
}

.footer-items-link:active {
    opacity: 0.6;
}

.item-header-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* -----FOOTER-FORM----- */

.footer-form {
    display: flex;
    position: relative;
    width: 388px;
    margin-bottom: 15px;
}

.footer-form-input {
    padding: 20px 32px 19px 32px;
    width: 100%;
    border: 2px solid #D64374;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}

.footer-form-input::placeholder {
    font-size: 14px;
    line-height: 16px;
}

.footer-form-input:focus {
    color: #FFFFFF;
}

.footer-form-btn {
    position: absolute;
    padding: 16px 18px 16px 17px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: #D23166;
    border-radius: 5px;
}


.bottom-icon-img {
    color: transparent;
}

.bottom-icon-img + .bottom-icon-img{
    margin-left: 15px;
}

.bottom-icon-img:hover {
    opacity: 0.8;
}

.bottom-icon-img:active {
    opacity: 0.6;
}

/* ----END----- */