@font-face {
    font-family: 'Fredoka One';
    src: url('FredokaOne-Regular.woff2') format('woff2'),
        url('FredokaOne-Regular.woff') format('woff'),
        url('FredokaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Regular.woff2') format('woff2'),
        url('HindMadurai-Regular.woff') format('woff'),
        url('HindMadurai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Bold.woff2') format('woff2'),
        url('HindMadurai-Bold.woff') format('woff'),
        url('HindMadurai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Medium.woff2') format('woff2'),
        url('HindMadurai-Medium.woff') format('woff'),
        url('HindMadurai-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-SemiBold.woff2') format('woff2'),
        url('HindMadurai-SemiBold.woff') format('woff'),
        url('HindMadurai-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

